@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

.navigation { background: #3c3c3c; }

.main-menu a { 
	color: #fff; 
	font-size: 18px;
	font-weight:600;
}

.header-search .search-button {
	background: #3c3c3c; }

#.main-menu .page_item_has_children > a:after {
	border-top-color: #ffffff;
}

html { 
	font-size: 18px; 
}

.blog-description {
	font-family: Montserrat, Georgia, sans-serif;
}

.header .section-inner { 
	width: 319px; 
}

.post-inner {
	width: 700px;
max-width: 80%;
}

.abh_tab_content .abh_image{
	margin-top: 0px!important;
}
.abh_name {
	padding-top: px;
	font-family: Montserrat, Georgia, sans-serif;
	text-transform: uppercase;
}
.abh_job {
	font-size: 28px;
	font-family: Montserrat, Georgia, sans-serif;
}
.abh_description {
	margin-top: ;
	font-family: Open Sans, Montserrat, Georgia, sans-serif;
}

.tags a { margin-right: 5px; }
.tags a { font-size: 20px;
text-transform: lowercase;}
.categories a { font-size: 16px; }
.categories {font-size: 16px; }

.tags a:hover {
	text-decoration: none; 
}
.tags a:before { content: none; }
.tags a { background-color: #f2f6fc;
font-size: 16px;
border-radius: 4px; 
box-sizing: border-box; 
border: 1px solid #60a14c;
padding: 0 10px;
color: #000;
}

.post .header { padding: 35px 0; }

.homeicon { padding-left: 10px;
	padding-right: 10px; background-color: #60a14c; }

.main-menu .homeicon a { 
	color: #fff; 
	font-size: 18px;
	font-weight:900;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

.credits p + p {
	color: #fff;
	font-size: 0.9em;
	font-weight: 600;
	margin-top: 12px;
}

.credits p + p a { 
	color: #fff;
}

.page-id-30 .section-inner {
	width: 1280px; }
.page-id-30 .post-inner {
	width: 1280px;
}

.post-inner p,
.post-inner li { font-family: Open Sans, Montserrat; 
	font-weight: 400;
}

.cn-button.bootstrap {
    color: #fff;
    background: 
#437234;
}

#cookie-notice {
	font-family: Open Sans, Arial, Montserrat, Georgia, sans-serif;
}

.header-search .search-button {
    color:#ffffff;
}

.header-image:after { 
	background: linear-gradient(to bottom, rgba(29,29,29,0.2) 0%, rgba(29,29,29,0.5) 45%, rgba(29,29,29,1) 100%);
}

.show-preview-titles .has-post-thumbnail .post-overlay {
	background: rgba( 0, 0, 0, 0.1 );
}
.archive-post-date {
	background-color: #f8f8f8;
	padding-top: 5px;
	padding-left: 17px;
	padding-right: 10px
	padding-bottom: 10px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -10px;
	text-transform: none;
	border-top: 3px solid #60a14c;
	#border-left: 4px solid #60a14c;
	#border-right: 4px solid #60a14c;
	#border-top: 4px solid #60a14c;
}

.archive-post-title {
	color: #222;
	background-color: #f8f8f8;
	padding: 10px 10px;
	padding-left: 15px;
	#border-left: 4px solid #60a14c;
	#border-right: 4px solid #60a14c;
	#border-bottom: 4px solid #60a14c;
	margin-bottom: -30px;
	margin-left: -15px;
	margin-right: -15px;
	#border-top: 1px solid 
#363636;
	font-weight: 600;
	
}

.archive-post-header {
	position: absolute;
	right: 15px;
	left: 15px;
}

.has-post-thumbnail .archive-post-date {
	color: #3c3c3c;
}

.post.has-post-thumbnail:hover .archive-post-title,
.show-preview-titles .post.has-post-thumbnail .archive-post-title { 
	color: #000; 
}
